body
{
}

.detailview-container {
    width: 500px;
    margin:30px auto 10px;
}


.bg-success {
    background-color: #BDC5DB;
    color: #0C3890;
    font-weight: 300;
}

.detailview-buttons{
    width:150px;
    margin: 0 auto;
}

.detailview-update, .detailview-delete {
    text-decoration: none;
    padding: 8px 12px;
    border-color: #000000;
    border-radius: 3px;
    color: white;
}

.detailview-delete {
    background-color: #AB0D28;
    padding: 8px 15px;
}

.detailview-update {
    background-color: #3262A9;
    margin-right: 4px;
}


    .detailview-update:hover, .detailview-delete:hover {
        text-decoration: none;
        cursor: pointer;
        color: white;
        padding: 9px 13px;
    }

.detailview-delete:hover {
    padding: 9px 16px;
}

.atribut-detailview {
    width: 500px;
    margin: 50px auto 30px;
    text-align: center;
    -webkit-box-shadow: inset -1px 8px 24px 0px rgba(155,165,204,1);
    -moz-box-shadow: inset -1px 8px 24px 0px rgba(155,165,204,1);
    box-shadow: inset -1px 8px 24px 0px rgba(155,165,204,1);
}

.atribut-detailview .bg-success{
    padding:15px;
    margin-bottom: 3px;
    color: white;
}


.atribut-search{
    width:300px;
    margin: 60px 0 10px;
}